.header-background {
  display: block;
  position: relative;
  height: auto;
}

.header-background:after {
  content: "";
  background: linear-gradient(45deg, rgba(0,0,0, 0), rgba(0,0,0, 100)),url("https://www.gannett-cdn.com/-mm-/5ec9ef0c8857cf33472da47b8dc044c46c03caf5/c=0-191-2124-1389&r=x803&c=1600x800/local/-/media/USATODAY/GenericImages/2014/04/20/1398047223000-library-books-1.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.hero-container {
    padding: 2rem 0rem;
}