.header-background {
  display: block;
  position: relative;
  height: auto;
}

.header-background:after {
  content: "";
  background: linear-gradient(45deg, rgba(0, 98, 102, 0.8), rgba(72, 219, 251, 0.7), rgba(72, 219, 251, 0.5), rgba(0, 0, 0, 0)), url("https://cdn.worldvectorlogo.com/logos/google-play-books.svg");
  object-fit: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.maskOverlay {
  display: block;
  position: relative;
  height: auto;
  background-color: rgba(9, 132, 227, 0.5);
}

.hero-container {
  padding: 2rem 0rem;
}

.main-title {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  text-shadow: -4px 3px 0 rgba(9, 132, 227, 0.4);
}



.lead {
  color: #fff;
}